.appbar{
	padding:5px;
}
.appbar__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.appbar__inner img{
	width:100%;
	height:100%;
	max-width:100px;
	max-height:100px;
	object-fit: contain;
}
.appbar__menus{
	display: flex;
}
.appbar__menus h3{
	color:var(--lightGrey);
	margin-left: 20px;
}
.appbar__menus h3.active{
	color:var(--darkBlack);
}

.logout{
background-color: rgb(235, 230, 230);
  color: rgb(99, 96, 96);
  border: none;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  padding: 8px;
}

